<form [formGroup]="form()" (ngSubmit)="submint()">
  <div class="mb-24">
    <mat-button-toggle-group formControlName="type">
      <mat-button-toggle [value]="transactionType.OUTCOME">Gasto</mat-button-toggle>
      <mat-button-toggle [value]="transactionType.INCOME">Ganho</mat-button-toggle>
    </mat-button-toggle-group>
    @if (form().controls.type.hasError('required')) {
    <mat-error>Campo Obrigatorio</mat-error>
    }
  </div>

  <mat-form-field  appFullWidth appMarginBottom>
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Digite o titulo da transação" [formControlName]="'title'" required />
    @if (form().controls.title.hasError('required') && form().controls.title.touched) {
    <mat-error>Campo Obrigatorio</mat-error>
    }
  </mat-form-field>

  <mat-form-field appMarginBottom appFullWidth>
    <mat-label>Valor</mat-label>
    <input
     matInput 
     placeholder="Digite o valor da transação"
     [formControlName]="'value'"
     required
     mask="separator.2"
     />
    <span matTextPrefix>R$ &nbsp;
    </span>

    @if (form().controls.value.hasError('required') && form().controls.title.touched) {
    <mat-error>Campo Obrigatorio</mat-error>
    }

  </mat-form-field>

  <div class="submit-container">
    <button type="submit" mat-flat-button="filled" [disabled]="form().invalid">Salvar</button>
  </div>
</form>