<app-balance [transactions]="transactions()" />

<div class="chart-container">
  <!-- @defer (on interaction(btn)) { -->
  @defer ( when canLoadComponente(); on interaction(interactiveClick) ) {
  <mat-card class="card">
    <app-pie-chart [config]="chartConfig()"></app-pie-chart>
  </mat-card>

  } @loading (minimum 2s) {
  <mat-card class="card">
    <mat-progress-bar mode="indeterminate">Carregando gráfico...</mat-progress-bar>
    <p></p>
  </mat-card>

  }
  @placeholder(minimum 1s) {
  <mat-card class="card">
    <button matButton="filled">Clique Invalido</button>
    <button matButton="filled" #interactiveClick>Clique Usando Interactive</button>
    <button matButton="filled" (click)="canLoadComponente.set(true)">Clique usando
      When</button>
  </mat-card>
  } @error {
  <mat-card class="card">
    <mat-icon>error</mat-icon>
    O Componente nao foi carregado corretamente verifique a sua conecao com a internet e recarregue essa pagina!
  </mat-card>

  }
</div>


<!-- <div class="actions">
  <a matButton="filled" routerLink="create">Adicionar</a>
</div>

<app-transations-container class="transactions"  [transactions]="items()">
  <ng-template #item let-item="item">
    <app-transaction-item 
      class="transactions" 
      [transaction]="item" 
      (edit)="edit($event)"
      (remove)="remove($event)"
      ></app-transaction-item>
  </ng-template>
  <ng-template #noItems>
    <app-no-transactions />
  </ng-template>
</app-transations-container> -->

<!-- <div class="transactions">
  @for (item of transactions(); track item) {
  <app-transaction-item 
  class="transactions" 
  [transaction]="item"
  (edit)="edit($event)"
  (remove)="remove($event)"></app-transaction-item>
  } @empty {
  <app-no-transactions />
  }
</div> -->