<app-balance [transactions]="transactions()" />

<!-- <div class="actions">
  <a matButton="filled" routerLink="create">Adicionar</a>
</div>

<app-transations-container class="transactions"  [transactions]="items()">
  <ng-template #item let-item="item">
    <app-transaction-item 
      class="transactions" 
      [transaction]="item" 
      (edit)="edit($event)"
      (remove)="remove($event)"
      ></app-transaction-item>
  </ng-template>
  <ng-template #noItems>
    <app-no-transactions />
  </ng-template>
</app-transations-container> -->

<!-- <div class="transactions">
  @for (item of transactions(); track item) {
  <app-transaction-item 
  class="transactions" 
  [transaction]="item"
  (edit)="edit($event)"
  (remove)="remove($event)"></app-transaction-item>
  } @empty {
  <app-no-transactions />
  }
</div> -->